
body {
    margin: 0;
    padding: 0;
}

/* header */


.header {
    background: #292E36;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}


/* header-content */

.button-caller {
    padding: 1em;
    border: 1px solid #E1B168;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    padding-left: 100px;
    padding-right: 100px;
}

.button-reservation {
    padding: 1em;
    border: 1px solid #E1B168;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    padding-left: 100px;
    padding-right: 100px;
}

.button-caller:hover,
.button-reservation:hover {
    background-color: #E1B168;
}

.logo {
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navigation */


.navigation {
    border-top: 1px solid #5C6168;
    background-color: #292E36;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: 1em;
}
.button {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.button:hover {
    color: #E1B168;
    cursor: pointer;
}
.nav-social {
    display: flex;
}
.nav-social img {
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
}
.nav-social img:hover {
    opacity: 50%;
    cursor: pointer;
}

.lines{ 
    border-bottom: 17px double whitesmoke; 
    border-top: 6px solid whitesmoke; 
    height: 5px; 
    width:30px;
    display: none;
}

/* welcome */

.content-welcome {
    background-color: #292E36;
    display: flex;
    padding: 20px;
}
.welcome-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome-text {
    font-size: 10vh;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.welcome-description {
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 30px;
}
.welcome-button {
    display: flex;
    width: 200px;
    justify-content: center;
    border: 1px solid #E1B168;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #E1B168;
    padding: 15px;
    margin-top: 20px;
}
.welcome-button:hover {
    background-color: #E1B168;
    color: whitesmoke;
    cursor: pointer;
}
.welcome-image img{
    height: 700px;
}

